*
{
  box-sizing: border-box;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header
{
	background-color: #444;
	padding: 15px;
	border-radius: 20px;
	margin-bottom: 10px;
	height: 120px;
}

.header_left
{
	float: left;
	width: 60%;
}

.header_mid
{
	float: left;
	width: 25%;
}

.header_right
{
	float: left;
	width: 10%;
	text-align: right;
}
/* Create three columns/boxes that floats next to each other */
nav
{
	float: left;
	width: 15%;
	height: 300px; /* only for demonstration, should be removed */
	background: #ccc;
	padding: 15px;
	border-radius: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
}

/* Style the list inside the menu */
nav ul
{
	list-style-type: none;
	padding: 0;
}

li a
{
	display: block;
    border: 2px solid #ffffff;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 15px;
	margin-bottom: 10px;
}

/* Change the link color on hover */
li a:hover
{
	background-color: #555;
	color: white;
}

article
{
	float: left;
	padding: 20px;
	width: 58%;
	background-color: #f1f1f1;
	height: 300px; /* only for demonstration, should be removed */
	border-radius: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
}

/* Create two columns/boxes that floats next to each other */
aside
{
	float: left;
	width: 25%;
	height: 300px; /* only for demonstration, should be removed */
	background: #666;
	padding: 20px;
	border-radius: 20px;
	margin-bottom: 10px;
}

/* Clear floats after the columns */
section:after
{
	content: "";
	display: table;
	clear: both;
}

/* Style the footer */
footer
{
	background-color: #777;
	padding: 10px;
	color: white;
	border-radius: 20px;
	height: 100px;
}

.footer_left
{
	float: left;
	width: 60%;
}

.footer_right
{
	float: left;
	width: 40%;
	text-align: right;
}


/* Responsive layout - makes the three columns/boxes stack on top of each other */
@media (max-width: 500px)
{
	nav, article, aside, .header_left, .header_mid, .header_right, .footer_left, .footer_right
	{
		width: 100%;
		height: auto;
	}
}