*
{
	box-sizing: border-box;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header
{
	background-color: #444;
	padding: 1%;
	border-radius: 20px;
	margin-bottom: 1%;
	height: 120px;
}

.header_left
{
	float: left;
	width: 50%;
	margin-bottom: 2%;
}

.header_mid
{
	float: left;
	width: 40%;
	margin-bottom: 2%;
}

.header_right
{
	float: left;
	width: 10%;
	text-align: right;
	margin-bottom: 2%;
}
/* Create three columns/boxes that floats next to each other */
nav
{
	float: left;
	width: 15%;
	background: #ccc;
	padding: 1%;
	border-radius: 20px;
	margin-bottom: 1%;
	margin-right: 1%;
}

/* Style the list inside the menu */
nav ul
{
	list-style-type: none;
	padding: 0;
}

li a
{
	display: block;
    border: 2px solid #ffffff;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 15px;
	margin-bottom: 2%;
}

/* Change the link color on hover */
li a:hover
{
	background-color: #555;
	color: white;
}


article
{
	float: left;
	padding: 1%;
	width: 60%;
	background-color: #f1f1f1;
	height: 300px;
	border-radius: 20px;
	margin-bottom: 1%;
	margin-right: 1%;
	height: auto;
	
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 20px;
}

article > div
{
	border-radius: 5px;
	padding: 10px;
	background-color: rgb(207,232,220);
	border: 2px solid rgb(79,185,227);
}  

/* Create two columns/boxes that floats next to each other */
aside
{
	float: left;
	width: 23%;
	background: #666;
	padding: 2%;
	border-radius: 20px;
	margin-bottom: 1%;
}

/* Clear floats after the columns */
section:after
{
	content: "";
	display: table;
	clear: both;
}

/* Style the footer */
footer
{
	background-color: #777;
	padding: 1%;
	color: #000000;
	border-radius: 20px;
	height: 100px;
}

.footer_left
{
	float: left;
	width: 50%;
}

.footer_right
{
	float: left;
	width: 50%;
	text-align: right;
}


/* Responsive layout - makes the columns/boxes stack on top of each other */

/* Extra small devices (phones, 480px and down) */ 
@media (max-width: 480px)
{
	nav, article, aside, .header_left, .header_right, .footer_left, .footer_right
	{
		width: 100%;
		height: auto;
	}
	
	nav
	{
		font-size: 20px;
	}
}

/* Devices (desktops/laptops, portrait tablets and large phones, 480px and up 960px) */
@media all and (max-width: 960px) and (min-width: 480px)
{
	.header_left, .header_mid, .header_right, .footer_left, .footer_right
	{
		width: 100%;
		height: auto;
	}
	
	nav
	{
		width: 30%;
		height: auto;
		font-size: 16px;
	}
	
	article
	{
		width: 67%;
		height: auto;
	}
	
	aside
	{
		display: none;
	}
}