*
{
	box-sizing: border-box;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e6faff;
}

/* Style the header */
header
{
	background-color: #99d6ff;
	padding: 1%;
	border-radius: 15px;
	margin-bottom: 1%;
	height: 75px;
}

.header_left
{
	float: left;
	width: 35%;
	margin-bottom: 1%;
}

.header_mid
{
	float: left;
	width: 50%;
	margin-bottom: 1%;
}

.header_right
{
	float: left;
	width: 10%;
	float: right;
	margin-bottom: 1%;
}
/* Create three columns/boxes that floats next to each other */
nav
{
	float: left;
	width: 15%;
	background: #e6ffe6;
	padding: 1%;
	border-radius: 15px;
	margin-bottom: 1%;
	margin-right: 1%;
}

/* Style the list inside the menu */
nav ul
{
	list-style-type: none;
	padding: 0;
}

li a
{
	display: block;
    border: 2px solid #003399;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 10px;
	margin-bottom: 5%;
}

/* Change the link color on hover */
li a:hover
{
	background-color: #0066cc;
	color: white;
}

li a.active {
  background-color: #0066cc;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

article
{
	float: left;
	padding: 1%;
	width: 60%;
	background-color: #e6ffe6;
	border-radius: 15px;
	margin-bottom: 1%;
	margin-right: 1%;
	height: auto;
	
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 20px;
}

article > div
{
	border-radius: 10px;
	padding: 10px;
	background-color: rgb(207,232,220);
	border: 2px solid rgb(79,185,227);
}  

map
{
	float: left;
	padding: 1%;
	width: 60%;
	height: 400px;
	background-color: #e6ffe6;
	border-radius: 15px;
	margin-bottom: 1%;
	margin-right: 1%;
	height: auto;
	border-radius: 10px;
	padding: 10px;
	background-color: rgb(207,232,220);
	border: 2px solid rgb(79,185,227);
} 


iframe
{
	display: flex;
	flex: 1;
}


/* Create two columns/boxes that floats next to each other */
aside
{
	float: left;
	width: 23%;
	background: #e6ffe6;
	padding: 2%;
	border-radius: 15px;
	margin-bottom: 1%;
}

/* Clear floats after the columns */
section:after
{
	content: "";
	display: table;
	clear: both;
}

/* Style the footer */
footer
{
	background-color: #99d6ff;
	padding: 1%;
	color: #000000;
	border-radius: 15px;
	height: 100px;
}

.footer_left
{
	float: left;
	width: 50%;
}

.footer_right
{
	float: left;
	width: 50%;
	text-align: right;
}


/* Responsive layout - makes the columns/boxes stack on top of each other */

/* Extra small devices (phones, 480px and down) */ 
@media (max-width: 480px)
{
	nav, article, map, aside, .header_left, .header_mid, .header_right, .footer_left, .footer_right
	{
		width: 100%;
		height: auto;
	}
	
	nav
	{
		font-size: 20px;
	}
}

/* Devices (desktops/laptops, portrait tablets and large phones, 480px and up 960px) */
@media all and (max-width: 960px) and (min-width: 480px)
{
	.header_left, .header_mid, .header_right, .footer_left, .footer_right
	{
		width: 100%;
		height: auto;
	}
	
	nav
	{
		width: 30%;
		height: auto;
		font-size: 16px;
	}
	
	article, map
	{
		width: 67%;
		height: auto;
	}
	
	aside
	{
		display: none;
	}
}